.footer {

    &__nav-bar {
        text-decoration: none;
        display: inline-block;

        &-line {
            display: inline-block;
            font-size: 2rem;
            color: $color-primary;
            text-transform: uppercase;
            
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}