.about-us {
    background-color: $color-grey-light;
    padding: 25rem 0 30rem 0;
    margin-top: -20vh;
}

.features {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    padding: 20rem 0;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
    margin-top: -9rem;
}

.cards {
    background-color: $color-grey-light;
    padding: 25rem 0 20rem 0;
    margin-top: -9rem;
}

.stories {
    padding: 15rem 0;
    position: relative;
}

.form-section {
    padding: 20rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
}

.book {
    background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%, 
    rgba($color-white, .9) 50%,
    transparent 50%), 
    url(../img/nat-10.jpg);
    background-size: cover;
    width: 100%;

    height: 50rem;

    &__form-box {
        width: 50%;
        padding: 5rem;
    }
}